body {
    margin: 0 auto;
    font-family: "Noto Sans Japanese";
    color: black;
    background-color: white;
}
a {
    text-decoration: none;
    color: black;
}
header {
    margin: 40px auto 0 auto;
    display: flex;
    font-size: 34px;
}
#header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
#top {
    width: 205px;
    padding: 3px 19px;
    text-align: center;
    border: solid 1px black;
    font-weight: bold;
}
#nav > a {
    padding-left: 18px;
    font-weight: bold;
}

#main-visual {
    width: 100%;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 587.76px;
}
#main-visual img {
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.index-h2 {
    font-size: 34px;
    text-align: center;
    margin: auto;
}
h3 {
    font-size: 24px;
}
p,footer {
    font-size: 18px;
}
#about {
    max-width: 820px;
    width: 100%;
    margin: 60px auto 0 auto;
}
.circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
#about-flex {
    max-width: 820px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 60px auto 0 auto;
}
#about-flex > div {
    width: 50%;
}
#works {
    max-width: 752px;
    width: 100%;
    margin: 60px auto 0 auto;
}
#works > div {
    display: flex;
    max-width: 752px;
    width: 100%;
    align-items: center;
    margin: 40px auto;
    gap: 16px;
    justify-content: center;
}
#works > div > div {
    width: 25%;
}
#works img {
    width: 100%;
}
img {
    margin: 0 auto;
    width: 100%;
}
#works-left {
    margin-right: 16px;
}
#works-center {
    margin-left: 16px;
    margin-right: 16px;
}
works-right {
    margin-left: 16px;
}
footer {
    text-align: center;
    margin: 60px auto 20px auto;
}
/*SPç”¨*/
@media screen and (max-width: 767px) {
    body {
        min-height: 375px;
        margin: 0;
    }
    #top {
        width: auto;
        min-width: 0;
        padding: 2px 5px;
        font-size: 20px;
    }
    #nav {
        display: flex;
        gap: 10px;
    }
    #nav > a {
        padding-left: 0;
        font-size: 20px;
    }
    #header-inner {
        font-size: 20px;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        gap: 0;
    }
    #main-visual {
        margin: 25px auto 0 auto;
        height: auto;
    }
    #about-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    #about-flex > div {
        width: 100%;
        text-align: center;
    }
    .circle {
        margin: 0 auto;
    }
    #list {
        margin: 0 40px 0 40px;
        text-align: left;
    }
    #works {
        max-width: 100%;
        width: 100%;
        margin: 60px 0 0 0;
        padding: 0 16px;
        box-sizing: border-box;
    }
    #works > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        gap: 40px;
    }
    #works >div >div {
        width: 100%;
        text-align: center;
    }
    .works-photo {
        width: 100%;
        display: block;
        margin: 0;
    }
    }
    
